body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.cell {
  min-width: 44px;
  min-height: 44px;
}

.colbtn {
  min-width: 44px;
  min-height: 36px;
}
